<ul class="nav flex-column gap-2">

    <li>
        <a class="nav-link text-white"
           href="{% url 'dashboard:recruiter' %}">
            Dashboard
        </a>
    </li>

    <li>
        <a class="nav-link text-white"
           href="{% url 'companies:list' %}">
            Companies
        </a>
    </li>

    <li>
        <a class="nav-link text-white"
           href="{% url 'jobs:list' %}">
            Jobs
        </a>
    </li>

    <li>
        <a class="nav-link text-white"
           href="{% url 'jobs:create' %}">
            Create Job
        </a>
    </li>

</ul>