<ul class="nav flex-column gap-2">

    <li>
        <a class="nav-link text-white"
           href="{% url 'dashboard:student' %}">
            Dashboard
        </a>
    </li>

    <li>
        <a class="nav-link text-white"
           href="{% url 'jobs:list' %}">
            Browse Jobs
        </a>
    </li>

    <li>
        <a class="nav-link text-white"
           href="{% url 'applications:list' %}">
            My Applications
        </a>
    </li>

    <li>
        <a class="nav-link text-white"
           href="{% url 'students:edit_profile' %}">
            Edit Profile
        </a>
    </li>

</ul>